@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

body {
  @apply bg-asphalt text-chalk font-body;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

.font-display {
  font-family: 'Rajdhani', sans-serif;
}
